<div class="wrapper">
  <mat-card>
    <form [formGroup]="form" (submit)="submit()" novalidate>
      <mat-form-field class="col-xl-2 col-lg-2 col-12">
        <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" #newDate>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>-->
        <input matInput formControlName="date" type="date"  placeholder="Task date" #newDate>
      </mat-form-field>
      <mat-form-field class="col-xl-8 col-lg-8 col-12">
        <input matInput formControlName="task" placeholder="Task description" #newTask>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addItem(newDate.value, newTask.value)" class="col-xl-2 col-lg-2 col-12">Add</button>
    </form>
  </mat-card>
</div>


